/*----------------------------------------重置样式--------------------------------*/
@charset "utf-8";
/* CSS Document */
body{overflow-x:hidden;}
body,h1,h3,h4,h2,h5,h6,ul,ol,p,fieldset,dd,dl,input,textarea,option,hr,td{margin:0;padding:0;}
a{text-decoration:none; color:#333;}
h1,h3,h4,h2,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
li{list-style:none;}
img{border:none; display:block;}
a,input{outline:none;}
body{font:12px/1em "微软雅黑"; color:#666;}
.clear:after{content:"."; display:block; clear:both;height:0; visibility:hidden;}
.clear{zoom:1;}

.border0{border:none;}

/*------------------------------------------shortCut---------------------------------*/
$width-1:100%;
$height-1:100%;
$background-1:#f1f1f1;
$color-1:#c81623;
#shortCut{
  width:$width-1;
  height:31px;
  background: $background-1;
  .shortCut1{
    width:990px;
    height:30px;
    margin:0 auto;
    background: $background-1;
    .fl{
      width:97px;
      height:30px;
      float:left;
      li{
        .fl-li-div1{
          position: relative;
          float: left;
          width:97px;
          height:30px;
          line-height: 30px;
          .i-right{
            position: absolute;
            float: left;
            top:10px;
            
            height:7px;
            overflow: hidden;
            font:400 15px/15px consolas;
            transition: transform .1s ease-in 0s;
            s{
              width:15px;
              height:15px;
            }
          }
        }
      }
    }
    .fr{
      width:798px;
      height:30px;
      float:right;
      li{
        float:left;
        line-height: 30px;
        text-align: center;
      }
      .fr-li1{
        width:131px;
        height:30px;
        margin-right:10px;
        .link-login{

        }
        .reg{
          color:$color-1;
          width:48px;
        }
      }
      .fr-li2{
        width:68px;
        height:30px;
      }
      .fr-li3{
        width:86px;
        height:30px;
      }
      .fr-li4{
        width:68px;
        height:30px;
      }
      .fr-li5{
        width:68px;
        height:30px;
      }
      .fr-li6{
        width:102px;
        height:30px;
      }
      .fr-li7{
        width:86px;
        height:30px;   
      }
      .fr-li8{
        width:86px;
        height:30px;
      }
      .fr-li9{
        width:85px;
        height:30px;
      }
      .spacer{
        margin-top:9px;
        width:1px;
        height:12px;
        background: #CCC; 
      }
    }
  }
}

/*-----------------------------header----------------------------------------------*/
$header-color1:#b61d1d;
$header-color2:#666;
$header-color3:#c81623;
$font-family1:"microsoft yahei";
#header{
  width:$width-1;
  height:100px;
  background: white;
  .header1{
    width:990px;
    height:100px;
    margin:0 auto;
    position: relative;
    .logo{
      width:362px;
      height:100px;
      background: url(../images/jdlogo-201708-@1x.png) no-repeat 0 0;
      float: left;
      z-index: 2;
      margin-top:20px;
      a{
        width:270px;
        height:60px;    
        display: inline-block;
      }
      
    }
    .search-form{
      position: relative;
      float: left;
      width:462px;
      height:36px;
      margin-top:25px;
      background:white;  
      padding:0;
      border:0;
      .search-form-text{
        float: left;
        width:370px;
        height:24px;
        line-height: 24px;
        color:$header-color2;
        padding:4px;
        margin-bottom:4px;
        border-width:2px 0 2px 2px;
        border-color:$header-color1;
        border-style:solid;
        font-size: 14px;
        font-family: $font-family1;
      }
      .search-btn{
        width:82px;
        height:36px;
        float:left;
        border:none;
        background:$header-color1;
        font-size:16px;
        font-family: $font-family1;
        color:white;
        text-align: center;
      }
    }
    .shoppingCart{
      margin-top:25px;
      width:141px;
      height:35px;
      float:right;
      background: #f9f9f9;
      line-height: 35px;
      text-align: center;
      position:relative;
      .cart-icon{
        position: absolute;
        left:35px;
        top:8px;
        width:16px;
        height:16px;
        margin-right:3px;
      }
      .cart-li1{
        margin:0 auto;
        text-align: center;
        color:$header-color2;
        width:60px;
        height:16px;
        line-height: 16px;
      }
    }
    .hotwords{
      width:462px;
      height:20px;
      float: left;
      a{
        text-align: center;
        height:20px;
        line-height: 20px;
        margin-right:10px;
        color:$header-color2;
        &:hover{color: $header-color3;}
      }
      .hotw-a1{
        color: $header-color3;
      }
    }
  }
}



/*--------------------nav--------------------------------------------------------------*/
$nav-color1:#B1191A;
#nav{
  height:44px;
  width:100%;
  border-bottom:2px solid $nav-color1;
  .nav1{
    width:990px;
    height:44px;
    margin:0 auto;
    position: relative;
    #catagorys-2014{
      position: absolute;
      left:0;
      z-index:10;
      width:210px;
      height:44px;
      overflow: visible;
      background: $nav-color1;
      .dt{
        a{
          display: block;
          width:190px;
          height:44px;
          padding:0 10px;
          background: $nav-color1;
          font:400 15px/44px "microsoft yahei";
          color:#fff;
          text-decoration: none;
        }
      }
    }
    #navitems-2014{
      float: left;
      position: absolute;
      padding-left:210px;
      z-index:2;
      width:620px;
      height:44px;
      top:0;
      ul{
        float: left;
        height:44px;
        li{
          float: left;
          a{
            height:44px;
            padding:0 20px;
            text-align: center;
            text-decoration: none;
            font-size:15px;
            line-height:44px;
            font-weight: 400;
            color:#333;
            &:hover{color:$nav-color1;}
          }
        }   
      }
      .navitems-group1{
        width:325px;    
      }
      .navitems-group2{
        width:295px;
      }
    }
  }
}
/*------------------------d-layout-area-------------------------------------------------------*/
.d-layout-area{
  width:100%;
  margin:0 auto;
  background:url(../images/5afbe303nc63e9ef6.jpg) repeat-x ;
  .userDefinedArea{
    width:100%;
    margin:0 auto;
    a{
      img{
        vertical-align: bottom;
      }
    }
    img{
      width:100%;
      margin: 0 auto;
    }
  }
  .mc{
    margin:0 auto;
    background:url(../images/5afbe303nc63e9ef6.jpg) no-repeat;
    width:990px;
    height:329px;
    ul{
      li{
        float:left;
        width:236px;
        padding:6px 0 3px 9px;
        overflow: hidden;
        display: inline;
        position: relative;
        .jItem{
          height:310px;
          border:5px solid #fff;
          padding-top:0;
          background: #fff;
          transition:all .3s ease-in;
          &:hover{
            border:5px solid #cf112c;
            background: #cf112c;}
          .jTop{
            height:265px;  
            background: #fff;
            margin:0 auto;
            border-bottom:solid 1px #cf112c;
            .jPic{
              text-align: center;
              background: #fff;
              padding-top:20px;
              a{
                padding:0;
                display: block;
                img{
                  vertical-align: top;
                  width:190px;
                  height:190px;
                  margin:0 auto;
                }
              }
            }
            .jPrice{
              margin-top:0;
              height:30px;
              font-weight: bold;
              text-align: center;
              font-family:"impact", "微软雅黑", "宋体";
              font-size:26px;
              color:#c00404;
              line-height:1.2;
              background: #fff;
              span{

              }
            }
            .jSlogan{
              color:#ff7403;
              height:16px;
              line-height:1.5;
              font-size:13px;
              overflow: hidden;
              padding:3px 5px;
              background: #fff;
              a{
                color:#ff7403; 
              }
            }
          }
          .jDesc{
            height:32px;
            font-size: 13px;
            overflow: hidden;
            padding:0 5px;
            line-height: 1.2;
            margin-top:3px;
          }
        }
      }
    }
  }
}
.plus1{
  .userDefinedArea{
    width:100%;
    margin:0 auto;
    a{
      img{
        vertical-align: bottom;
        width:100%;
        margin:0 auto;
      }
    }
  }
}
.d-price-tips{
  padding:20px 0;
  text-align: center;
  font-size:14px;
  line-height: 16px;
  em{
    vertical-align: middle;
    display: inline-block;
  }
}
.d-pad{
  .service-2014{
    margin-bottom: 20px;
    .slogen{
      position: relative;
      height:54px;
      padding:20px 0;
      margin-bottom:14px;
      background: #f5f5f5;
      text-align:center;
      .item{
        display: inline-block;
        position: absolute;
        left:50%;
        top:20px;
        width:245px;
        height:54px;
        text-align: left;
        vertical-align: middle;
        font:400 18px/50px "microsoft yahei";
        i{
          display: block;
          position: absolute;
          top:0;
          left:10px;
          width:220px;
          height:54px;
          background-repeat: no-repeat;
          background-position: 0 0;
          font-weight:normal;
          font-weight: 500;
        }
      }
      .item~.fore1{
        margin-left:-490px;
        i{
          background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_1.png);
        }
      }
      .item~.fore2{
        margin-left: -245px;
        i{
          background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_1.png);
        }
      }
      .item~.fore3{
        margin-left: 0;
        i{
          background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_1.png);
        }
      }
      .item~.fore4{
        margin-left: 245px;
        i{
          background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_1.png);
        }
      }
      
    }
    .w~.x{
      width:990px;
      margin:0 auto;
      height:156px;
      dl{
        float:left;
        width:200px;
        dt{
          padding:6px 0;
          font:400 16px/24px "microsoft yahei";
        }
        dd{
          line-height:20px;
          div{
            a{

            }
          }
        }
      }
    }
  }
  .w~.copyrights1{
    border-top:1px solid #ccc;
  }
}