*{
    border:none;
}
.blank{
    height:8px;
    line-height: 8px;
    /* background: lightcyan; */
}
.cwrap{
    width:1130px;
    height:auto;
    margin:0 auto;
    font:12px/normal "Microsoft YaHei", Tahoma, Helvetica, Sans-Serif;
    overflow:hidden;
    font-stretch: normal;
}
.ur_here{
    width:1130px;
    height:37px;
    line-height: 37px;
    background:url(../images/uh_bg.gif) repeat-x left top; 
    margin:0 auto;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
}
.ur_here a{
    color:blue;
}
.cate_left{
    width:180px;
    float:left;
    /* background: lightblue; */
}
.category_top10{
    margin-top:10px;
}
.category_tree{
    width:180px;
    height:25px;
    line-height: 25px;
    background: rgb(51,51,51);
    color:#fff;
    text-indent:5px;
    font-size:14px;
}
.catagory_paihang{
    padding-bottom:10px;
    border:1px solid rgb(204,204,204);
    color:rgb(102,102,102);
    font-size:12px;
    margin-top:5px;
}
.catagory_paihang li{
    padding:8px;
}
.pic a img{
    width:160px;
    height:160px;
}
.price{
    color:rgb(200,10,40);
    line-height:25px;
    font-size:14px;
    font-family:arial;  
}

.des a{
    color:rgb(102,102,102);
    font-size:12px;
    font-stretch: normal;
}
.des a:hover{
    text-decoration: underline;
}
.goods_detail-wrap{
    width:930px;
    float: left;
}
.good_base{
    margin-bottom:13px;
}
.good_left{
    width:412px;
    float: left;
    position: relative;
}
.box{
    width:380px;
    height:466px;
}
.tb-booth{
    border:1px solid #cdcdcd;
    position: relative;
    z-index:1;
    width:380px;
    height:380px;
    margin-left:10px;
}
.tb_s310,.tb_s310 img{
   height:380px;
   width:380px;
}
.tb_s310 a{
    width:380px;
    height:380px;
}
.tb-s310 a img{
    vertical-align: middle;
    width:380px;
    height:380px;
    border:none;
}
#thumblist{
    margin-left:10px;
}
.tb_thumb{
    margin:10px 0 0;
    overflow: hidden;
}
.tb_thumb li{
    background: none repeat scroll 0 0 transparent;
    float:left;
    height:72px;
    margin:0px 6px 0px 0px;
    overflow: hidden;
    padding:1px;
}
.tb_thumb .tb_selected{
    background: none repeat scroll 0 0  #EEE;
    height:70px;
    padding:2px;
}
.tb_selected div{
    background: #ffffff;
    border:medium none;
}
.tb_thumb li div{
    border:1px solid #CDCDCD;
}
.tb-s40, .tb-s40 a{
    width:70px;
    height:70px;
}
.tb-pic a{
    display: table-cell;
    text-align:center;
    vertical-align: middle;
}
a{
    border:none;
    color:#575556;
    text-decoration: none;
}
.tb-pic a img{
    vertical-align: middle;
}
.tb-s40 a img{
    width:70px;
    height:70px;
}


/*--------------------------goods_right--------------------------------------*/
.goods_detail-wrap .good_right{
    width:465px;
    float:left;
    overflow: hidden;
    position: relative;
    padding-left:36px;
    padding-right:17px;
    height:492px;
    padding-top:10px;
    font-family: "Microsoft Yahei","宋体";
}
.t{
    font-size:12px;
    font-weight:bold;
    line-height:24px;
    padding-top:5px;
    padding-bottom:15px;
    min-height:35px;
    height:auto;
}
.t h1{
    font-size:12px;
    font-weight:bold;
}
.goods_price{
    width:482px;
    height:90px;
    position: relative;
    background: url(../images/price_bg.png) no-repeat -5px center;
    margin-left:-36px;
    color:#fff;
    padding-left:36px;
    font-family: Arial,"Microsoft Yahei";
}
.rmb_1{
    height:60px;
    position: absolute;
    right:15px;
    top:0;
    padding:5px 15px;
    z-index:9;
}
.li_1{
    margin-top:10px;
}
.rmb_1 li{
    float: left;
    color:#fff;
    display: inline;
    margin-right:10px;
}
.rmb_1 li .price{
    color:#fff;
    font-size:40px;
    font-weight:bold;
    line-height:55px;
}

.chooses_attrs{
    padding:5px;
    width:420px;
    height:58px;
}
.iteminfo_parameter{
    padding:8px 0;
    padding-left:25px;
}
.iteminfo_parameter dt{
    margin-left:-70px;
    float:left;
    display: inline;
    width:60px;
    white-space: nowrap;
    text-align:right;
    color:#888;
    font-family: "Microsoft Yahei","宋体";
}
.amount-widget{
    position: relative;
    display: inline-block;
    margin: 0 20px;
    width:72px;
}
.amount-widget .decrease, .amount-widget .increase{
    width:12px;
    height:12px;
    float:left;
    line-height:10px;
    text-align:center;
    overflow: hidden;
    cursor: pointer;
    border:1px solid #9a9a9a;
    position: absolute;
    margin:7px 0;
    cursor: pointer;
}
.amount-widget input{
    width:70px;
    height:26px;
    text-align:center;
    color:#333;
    border:1px solid #ddd;
}
.amount-widget .increase{
    right:-20px;
}
.amount-widget .decrease{
    left:-20px;
}
.box1{
    width:450px;
    overflow: hidden;
    padding-top:25px;
    margin-top:25px;
    border-top:1px solid #e3e3e3;
}
table{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color:grey;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    display: table-row;
}
td,th{
    display: table-cell;
}
 #addToCart{
    width:196px;
    height:48px;
    float: left;
    display: inline;
    margin:0 10px 0 0;
    text-align:center;
    line-height: 48px;
    color:#fff;
    background-color: #d42222;
    font-size:14px;
}
.a2{
    background: #efefef;
    border:3px solid #e3e3e3;
    width:154px;
    height:42px;
    line-height:42px;
    float: left;
    color:#666;
    text-align: center;
    list-style: height 42px;
    font-size:14px;
}

.main-col{
    float:right;
    padding-bottom:14px;
    width:930px;
    margin-top:15px;
}
.tabTel{
    float:left;
    background: url(../images/ui_bg.png) repeat-x center -202px #f8f8f8;
    width:930px;
    border-top:#999 2px solid;
    height:38px;
    line-height:38px;
}
.tabTel .active{
    border-bottom:#fff 1px solid;
    background: #fff;
    height:37px;
    line-height:37px;
    font-weight:bold;
    color:#333;
}
.tabTel li{
    float:left;
    padding:0 30px;
    font-size:14px;
    border-right:#e5e5e5 1px solid;
    cursor: pointer;
    font-weight: bold;
    color:#888;
}
.main-col{
    float:right;
    padding-bottom:14px;
    width:930px;
    margin-top:15px;
}
.tabTel{
    float:left;
    background: url(../images/ui_bg.png) repeat-x center -202px #f8f8f8;
    width:930px;
    border-top:#999 2px solid;
    height:38px;
    line-height:38px;
}
a{
    border:none;
    color:#575556;
    text-decoration: none;
    text-align:none;
}
inner-btn{
    text-align:center;
}
img{
    vertical-align: top;
    border:none;
}
#J_ZebraPriceDesc img{
    width:790px;
    height:152px;
}