/*top*/
#h-top{
    width:100%;
    height:34px;
    background: #f2f2f2;
    border-bottom:1px solid #ccc;
}
.h-top1{
    /* padding-top:2px; */
    width:1130px;
    height:33px;
    margin:0 auto;
    /* background: papayawhip; */
}
.h-top1-ul2{
    width:640px;
    height:25px;
    padding-top:5px;
    float:right;
    /* background: palegreen; */
    overflow: hidden;
}
.h-top1-ul2 li{
    float:left;
    
    height:22px;
    line-height: 22px;
}
.h-top1-li1{
    width:350px;
    text-align:right;
    padding:0 10px;
}

.h-top1-li1 .h-top1-a3{
    border:none;
}
.h-top1-img1{
    vertical-align: middle;
    display: inline;
}
.h-top1-li2{
    padding:0 10px;
    width:48px;
    height:22px;
}
.h-top1-li3{
    padding:0 10px;
    width:100px;
}
.h-top1-ul2 .h-top1-li4{
    width:72px;
    padding-right:10px;
}
.h-top1-ul2 a:hover{
    color:#d41c4f;
}

/*head*/
#h-head{
    height:102px;
    width:100%;
}
.headWarp{
    position: relative;
    width:960px;
    height:102px;
    margin:0 auto;
    /* background:lightcyan; */
}
.logo{
    width:170px;
    height:100%;
    
}
.logo-img{
    display: inline;
    position: absolute;
    top:10%;
}
.search{
    position: absolute;
    top:35px;
    left:345px;
    width:359px;
    height:45px;
    /* background: lavender; */
    border:none;
}
.headForm{
    height:30px;
    width:100%;
    border:none;
}
.search-wrap-input1{
    float: left;
    width:268px;
    height:28px;
    border:1px solid #d8d9dc;
    border-right:none;
    padding-left:10px;
    background: #f0f0f0;
}
.search-wrap-input2{
    float: left;
    width:80px;
    height:30px;
    border:none;
    background: #ca224e;
    color: white;
    font-size: 16px;
}

/*nav*/
#nav{
    width:100%;
    height:42px;
    background: #585858;
}
.wrap{
    width:1130px;
    height:100%;
    margin:0 auto;
    /* background: lightcyan; */
}
.nav-left{
    width:830px;
    height:40px;
    float: left;
    /* background: khaki; */
}
.all{
    width:180px;
    height:32px;
    margin-top:8px;
    background: #403f3f;
    float: left;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.all-title{
    font-size: 14px;
    width:180px;
    height:32px;
}
.all-title a{
    display: inline-block;
    width:180px;
    height:32px;
    line-height: 32px;
    color:white;
    font-family: "Microsoft Yahei","宋体",Arial;
}
.all-title a:hover{
    background: #7c7a7a;
}
.nav-exposed{
    display: none;
    width:700px;
    height:332px;
    position: absolute;
    left:0;
    top:32px;
    z-index: 100;
    padding:1px;
    box-shadow: 3px 3px 8px #777;
    /* background: lightblue; */
}
.nav-new{
    height:330px;
    width:350px;
    float: left;
    background: #fff;
    
}
.nav-new div{
    margin-left:10px;
}
.nav-new h3{
    line-height: 30px;
    height:30px;
    vertical-align: middle;
    text-indent: 10px;
    font-family: "Microsoft Yahei","宋体",Arial;
    font-size: 16px;
    color:#A38A77;
    font-weight: bold;
    text-align: left;
}
.nav-new h2{
    font:bold 15px microsoft yahei;
    border-bottom:2px solid #A38A77;
    text-align: left;
}
.nav-new li{
    height:24px;
    line-height: 24px;
    text-align: left;
}
.nav-new li a:hover{
    color:#eabc57;
    text-decoration: underline;
}
.first-column{
    width:115px;
    float: left;
}
.column{
    float: left;
    width:113px;
    padding:10px 14px 14px;
}

.channel{
    width:650px;
    height:40px;
    float: left;
}
.channel ul li{
    width:91px;
    height:40px;
    line-height: 40px;
    font-size: 16px;
    color: white;
    text-align: center;
    float: left;
    
    /* border-right:1px solid #333333; */
}

.channel ul li a{
    width:91px;
    height:40px;
    color:white;
    display: inline-block;
}
.channel ul li a:hover{
    background: #333333;
}
.channel ul span{
    height:16px;
    width:1px;
    background: #333333;
    float: left;
    margin-top: 12px;
}
.nav-right{
    width:151px;
    height:32px;
    float: right;
    /* background: honeydew; */
}
.nav-right a{
    display: inline-block;
    width:66px;
    height:22px;
    line-height: 22px;
    background: #302c2c;
    border-radius: 3px;
    margin-top:10px;
    text-align: center;
    color:white;
}
.nav-right a:hover{
    color: #f5f5f5;
}
*{
    border:none;
}
.blank{
    height:8px;
    line-height: 8px;
    /* background: lightcyan; */
}
.cwrap{
    width:1130px;
    height:auto;
    margin:0 auto;
    font:12px/normal "Microsoft YaHei", Tahoma, Helvetica, Sans-Serif;
    overflow:hidden;
    font-stretch: normal;
}
.ur_here{
    width:1130px;
    height:37px;
    line-height: 37px;
    background:url(../images/uh_bg.gif) repeat-x left top; 
    margin:0 auto;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
}
.ur_here a{
    color:blue;
}
.cate_left{
    width:180px;
    float:left;
    /* background: lightblue; */
}
.category_top10{
    margin-top:10px;
}
.category_tree{
    width:180px;
    height:25px;
    line-height: 25px;
    background: rgb(51,51,51);
    color:#fff;
    text-indent:5px;
    font-size:14px;
}
.catagory_paihang{
    padding-bottom:10px;
    border:1px solid rgb(204,204,204);
    color:rgb(102,102,102);
    font-size:12px;
    margin-top:5px;
}
.catagory_paihang li{
    padding:8px;
}
.pic a img{
    width:160px;
    height:160px;
}
.price{
    color:rgb(200,10,40);
    line-height:25px;
    font-size:14px;
    font-family:arial;  
}

.des a{
    color:rgb(102,102,102);
    font-size:12px;
    font-stretch: normal;
}
.des a:hover{
    text-decoration: underline;
}
.cate_right{
    position: relative;
    width:930px;
    float:right;
    margin-top:10px;
    border:1px solid rgb(221,221,221);
    /* background: pink; */
}
.sort_bar{
    border:1px solid rgb(221,221,221);
    height:32px;
    width:930px;
    
}
.sort_bar ul{
    width:360px;
    overflow: hidden;
    float: left;
}
.sort_bar ul li{
    width:80px;
    height:30px;
    text-align: center;
    line-height: 30px;
    text-indent: -10px;
    border-right-color:rgb(221,221,221);
    border-right-width:1px;
    border-right-style:solid;
    float:left;
}
.page_set{
    font:12px/normal "arial";
    padding:6px 8px;
    color:rgb(102,102,102);
    float:right;
}
.productGrid{
    padding-top:10px;
}
.grid_wrap{
    width:960px;
    height:2576px;
    margin:0;
    padding:0;
    color:#575556;
}
.product{
    width:220px;
    height:342px;
    margin:0px 13px 20px 0px;   
    padding:0px;
    /* line-height: 1.5; */
    float: left;
    position: relative;
    z-index:1;
    overflow: visible;
    color:#575556;
}

.product_iwrap{
    width:202px;
    height:327px;
    padding-bottom:0px;
    font-size:0px;
    margin:0px;
    padding:8px;
    border:1px solid rgb(221,221,221);
    min-height:98%;
    /* background: rgb(225,225,225); */
}
.product_iwrap:hover{
    width:200px;
    height:325px;
    border:2px solid rgb(200,10,40);
    padding:7px;
}
.product_iwrap *{
    font-size:12px;
}
.productImg_wrap{
    padding-bottom:5px;
    width:100%;
    height:222px;
}
.productPrice{
    margin:0 0 6px;
    height:30px;
    line-height:40px;
    letter-spacing: normal;
}
.productPrice em{
    color:rgb(200,10,40);
    font-family: arial;
    font-size:20px;
    font-weight:400;
}
.productPrice del{
    color:rgb(153,153,153);
    margin-top:2px;
    margin-left:5px;
    float:left;
}
.productTitle{
    float: left;
    overflow:hidden;
    margin-bottom:3px;
    height:18px;
    font-size:0px;
    display: block;
    color:rgb(102,102,102);
}
.grid_wrap img{
    width:202px;
    height:222px;
}
.search_page{
    font:12px/1.5 tahoma, "microsoft yahei", "微软雅黑";
    margin:30px 0px;
    text-align:center;
    color:rgb(136,136,136);
    font-stretch: normal;
}
/* .selectPageForm{
    position: absolute;
    top:2622px;
    
    display:block;
    margin:0 auto;
    padding:0;
    text-align:center;
    color:rgb(136,136,136);
    width:100%;
    height:35px;
   
} */

.blank{
    height:8px;
    line-height:8px;
    clear:both;
    visibility: hidden;
    background: lightblue;
}

#footer{
    width:100%;
    height:281px;
}
.wrap{
    width:1130px;
    margin:0 auto;
    height:281px;

}

.foot_help{
    border-top:#e5e3e3 1px solid;
    height:158px;
    background: #efefef;
    padding-bottom:11px;
    padding-top:21px;
    padding-left:0;
    padding-right:0;
}
.foot_intr{
    width:160px;
    float:left;
    line-height: 18px;
}
.foot_intr ul{
    padding:41px 0px 0px 29px;
    line-height:18px;
}
.foot_intr ul  li{
    background: url(../images/foot_help000.jpg) no-repeat 2px 4px;
}
.foot_intr ul  li a{
    color:#626262;
    padding-left: 20px;
    display: inline;
}
#foot_intr01{
    background: url(../images/foot_help001.jpg) no-repeat 29px 9px;
}
#foot_intr02{
    background: url(../images/foot_help002.jpg) no-repeat 29px 9px;
}
#foot_intr03{
    background: url(../images/foot_help003.jpg) no-repeat 29px 9px;
}
#foot_intr04{
    background: url(../images/foot_help004.jpg) no-repeat 29px 9px;
}
#foot_intr05{
    background: url(../images/foot_help005.jpg) no-repeat 29px 9px;
}
.foot_code{
    width:116px;
    float:left;
    padding-left:26px;
}
.foot_code img{
    width:116px;
    height:117px;
    border:0;
}
.foot-p{
    padding-top:2px;
    text-align:center;
}
.foot_v{
    text-align:center;
    margin-top:10px;
    line-height:25px;
    margin:0;
}
.foot_v p{
    line-height: 25px;
    text-align: center;
}
.foot_v p a{
    outline: none;
    color:#575556;
    text-decoration: none;
}
.foot_b{
    padding-bottom:10px;
    text-align:center;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px; 
    height:55px;
}
.foot_b a{
    color:#575556;
    text-decoration: none;

}
.foot_b img{
    margin-left:12px;
    margin-right:12px;
    display: inline;
}
.img1{
    width:103px;
    height:35px;
}
.img2{
    width:32px;
    height:35px;
}
.img3{
    width:114px;
    height:35px;
}
.btn1{
	width: 200px;
	height: 40px;
	background: #f99;
	color: #fff;	
	border: none;
	border-radius: 5px;
}